.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --s: 60px;
  --c1: #AFE1AF;
  --c2: #00A36C;
  --_g: radial-gradient(
    25% 25% at 25% 25%,
    var(--c1) 99%,
    rgba(6, 2, 2, 0) 101%
  );
  background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
      calc(2 * var(--s)),
    var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
    radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
      var(--s),
    repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
      calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
}

h1 {
  margin-top: 3%;
  //margin-bottom: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 60px;
  height: auto;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15rem;
  
}

button {
  --primary-color: #00A36C;
    --secondary-color: #fff;
    --hover-color: #AFE1AF;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 50px;
    border-radius: 30px;
    color: var(--secondary-color);
    padding: 0.8em 1.6em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    border: 2px solid white;
    
}

button:hover {
  background-color: var(--hover-color);
}

.gen {
  padding-right: 80rem;
  padding-bottom: 11rem;
}

