<div class="top-right-container">
  <app-auth-button [isUserLogged]="isLogged"> </app-auth-button>
</div>
<div class="home-container">
  <h1>LinkUp</h1>
  <div class="btn-container">
    <button mat-raised-button color="primary" (click)="navigate()">
      Navigate
    </button>
    <button mat-raised-button color="primary" (click)="createEvent()">
      Create Event
    </button>
    <button mat-raised-button color="primary" (click)="editProfile()">
      Edit Profile
    </button>
  </div>
</div>
