#container {
  display: flex;
  height: 100vh;
}

.map-sidebar {
  width: 300px;
  background-color: #f9f9f9;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.map-container {
  flex: 1;
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
}
