<div id="container">
    <mgl-map
      class="map"
      [style]="'mapbox://styles/mapbox/streets-v11'"
      [zoom]="[12]"
      [center]="[-73.567253, 45.50169]"
      (mapCreate)="onMapLoad($event)"
    >

    <mgl-geojson-source
    *ngFor="let pinData of pinClasses"
    [id]="pinData.iconName"
    [data]="pinData.features"
  ></mgl-geojson-source>

  <mgl-layer
        id="nav"
        type="line"
        [source]="'symbols-source'"
        [layout]="{
          'line-join': 'round',
          'line-cap': 'round'
        }"
        [paint]="{
          'line-color': '#888',
          'line-width': 8
        }"
      >
      </mgl-layer>

      <mgl-layer
        *ngFor="let pinData of pinClasses"
        [id]="pinData.iconName"
        type="symbol"
        [source]="pinData.iconName"
        [layout]="{
          'icon-image': pinData.iconName,
          'icon-anchor': 'bottom',
          'icon-size': 0.1
        }"
      >
      </mgl-layer>
    </mgl-map>
  </div>
  